<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Help</h1>
<p>
	<ol>
		<strong><li><a href="#Intro">Introduction</a></li></strong>
		<strong><li><a href="#emp">Employee Module</a></li></strong>
		<strong><li><a href="#edu">Education Module</a></li></strong>
		<strong><li><a href="#contr">Contract Module</a></li></strong>
		<strong><li><a href="#doc">Document Module</a></li></strong>
		<strong><li><a href="#sea">Search Module</a></li></strong>
		<strong><li><a href="#veh">Vehicle Module</a></li></strong>
	</ol>
</p>
<br/><br/><br/><br/><br/>
	<h4><a id="Intro">Introduction</a></h4>
	<p>
		bdcymucrdccbrcbcf
	    fncfnbcufcufcnbfcnbfubnudndndw
    </p>
    	<h4><a id="emp">Employee Module</a></h4>
	<p>
		bdcymucrdccbrcbcf
	    fncfnbcufcufcnbfcnbfubnudndndw
    </p>
    	<h4><a id="edu">Education Module</a></h4>
	<p>
		bdcymucrdccbrcbcf
	    fncfnbcufcufcnbfcnbfubnudndndw
    </p>
    	<h4><a id="contr">ContractsModule</a></h4>
	<p>
		bdcymucrdccbrcbcf
	    fncfnbcufcufcnbfcnbfubnudndndw
    </p>
    	<h4><a id="doc">Document Module</a></h4>
	<p>
		bdcymucrdccbrcbcf
	    fncfnbcufcufcnbfcnbfubnudndndw
    </p>
    	<h4><a id="sea">Search Module</a></h4>
	<p>
		bdcymucrdccbrcbcf
	    fncfnbcufcufcnbfcnbfubnudndndw
    </p>
    	<h4><a id="veh">Vehicle Module</a></h4>
	<p>
		bdcymucrdccbrcbcf
	    fncfnbcufcufcnbfcnbfubnudndndw
    </p>
</body>
</html>
