<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="center hero-unit">
      <h1>HRM System</h1>
       <% if signed_in? %>
       <p>
         Welcome to HRM System.
      </p>
      <% else %>
      <%= link_to "Sign In",signin_path, class: "btn btn-large btn-primary" %>
      <%end%>
    </div>
  </body>
</html>
