<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="center hero-unit">
      <h1>HRM System</h1>
      <p>
         This is the home page for HRM System.
      </p>
      <%= link_to "Sign In", '#', class: "btn btn-large btn-primary" %>
    </div>
  </body>
</html>
