<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body class="bg">
    <div class="center">
     <%= image_tag("the_hr_room_logo_pms7489.jpeg",alt: "Palmate")%>
    </div>
  </body>
</html>
