<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Employee No</Data></Cell>
        <Cell><Data ss:Type="String">First Name</Data></Cell>
        <Cell><Data ss:Type="String">Last Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
      </Row>




    <% @search.employees.each do |s| %>
      <Row>
        <Cell><Data ss:Type="String"><%= s.empno %></Data></Cell>
        <Cell><Data ss:Type="String"><%= s.first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= s.last_name%></Data></Cell>
        <Cell><Data ss:Type="String"><%= s.email%></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

