<footer class="footer">
  <small>
    <a href="http://palmate.in/">palmate</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",'http://palmate.in/aboutus.htm' %></li>
      <li><%= link_to "Contact us", 'mailto:info@palmate.in' %></li>
   </ul>
  </nav>
</footer>
